In [31]:
import pandas as pnd

In [32]:
years = [1902, 1952, 1962]

In [35]:
import os

In [36]:
DATA_PATH

'C:\\Users\\irina\\ex4-1\\names\\'

In [45]:
DATA_PATH = f'{os.getcwd()}\\names\\'

data_pathes = []
for year in years:
    data_pathes.append(DATA_PATH + "yob"+ str(year) + ".txt")
for dp in data_pathes:
    data_for_analytics.insert(pnd.read_csv(dp, names = ['Name', 'Gender', 'Count']))

TypeError: insert() takes exactly 2 arguments (1 given)

In [44]:
data_by_all

                                                   0
0             Name Gender  Count
0          Mary ...
1              Name Gender  Count
0          Lind...
2              Name Gender  Count
0           Lis...