In [15]:
import pandas as pnd

In [16]:
import os

In [17]:
years = [1702, 1952, 1962]
ntop = 3

In [18]:
DATA_PATH = f'{os.getcwd()}\\names\\'

In [19]:
data_pathes = []
data_years = []
for year in years:
    path_test = DATA_PATH + "yob"+ str(year) + ".txt"
    if os.path.exists(path_test) and os.path.isfile(path_test):
        data_pathes.append(path_test)
        data_years.append(year)

In [20]:
data_for_analytics = []
for dp in data_pathes:
    data_for_analytics.append(pnd.read_csv(dp, names = ['Name', 'Gender', 'Count']))

In [21]:
len(data_for_analytics)

2

In [22]:
data_by_all_years = pnd.concat(data_for_analytics)

In [23]:
data_by_all_years.nlargest(ntop, 'Count')

         Name Gender  Count
6391    James      M  87107
6392   Robert      M  86622
7583  Michael      M  85037

In [24]:
for data_elem_analytics, year_elem in zip(data_for_analytics, data_years):
    len_df = len(data_elem_analytics)
    year_series = pnd.Series((year_elem) for i in range(len_df))
    data_elem_analytics['Year'] = year_series

In [28]:
data_by_all_years_with_years = pnd.concat(data_for_analytics).drop('Name',axis=1)

In [29]:
grouped_data = data_by_all_years_with_years.groupby(['Year', 'Gender'])

In [30]:
grouped_data.count()

             Count
Year Gender
1952 F        6391
     M        4257
1962 F        7583
     M        4623